In [1]:
import pandas as pd
import string
import re
import nltk

Mixed reviews dataset...

In [3]:
df = pd.read_csv("~/downloads/ar_reviews_100k.tsv", sep='\t')
df.head()

      label                                               text
0  Positive  ممتاز نوعا ما . النظافة والموقع والتجهيز والشا...
1  Positive  أحد أسباب نجاح الإمارات أن كل شخص في هذه الدول...
2  Positive  هادفة .. وقوية. تنقلك من صخب شوارع القاهرة الى...
3  Positive  خلصنا .. مبدئيا اللي مستني ابهار زي الفيل الاز...
4  Positive  ياسات جلوريا جزء لا يتجزأ من دبي . فندق متكامل...

In [4]:
df.shape

(99999, 2)

Book reviews dataset..

In [5]:
df2 = pd.read_csv("~/downloads/bal-clean-reviews.tsv.txt", sep='\t')
df2.head()

,rating,review id,user id,book id,review
0,2,1665743403,21435637,13637412,قرأتها من فترة طويلة و لا يحضرني فيها الا اعجا...
1,2,1664872313,20015365,13637412,كان نفسي احب الرواية دي، أغلب اصدقائي اللي قرأ...
2,2,1659286461,56517018,13637412,عملوا منها مسلسل. اجوف المسلسل ولا اقرى الرواي...
3,2,1657686339,22103652,13637412,لطيفه :). كأنك بتتفرج ع مسلسل بس نوعا ما لطيف
4,2,1657401919,56445490,13637412,الرواية جميلة تحمل معاني ورسالات كثيرة اراد ال...

In [7]:
df2.shape

(156506, 5)